@model IEnumerable<GiamSat>
@{
    ViewData["Title"] = "Giám Sát Thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<h1>Giám Sát Chất Lượng Sản Phẩm</h1>

<!DOCTYPE html>
<html>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
    $('#example').DataTable({
});
});
</script>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
      <th>Dây Chuyền</th>
      <th>Tốc độ máy(gói/phút)</th>
      <th>Hiệu suất(%OEE)</th>
      <th>Sản lượng(gói)</th>
      <th>Số gói cấn gia vị</th>
      <th>%Gói cấn gia vị</th>
      <th>Số Gói Rỗng</th>
      <th>%Gói Rỗng</th>

  </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.DayChuyen
                </td>
                <td width="15%">
                    @obj.TocDoChuan
                </td>
                <td width="15%">
                    @obj.HieuSuat
                </td>
                 <td width="15%">
                    @obj.SanLuongGoi
                </td>
                <td width="15%">
                    @obj.TotalDamaged
                </td>
                <td width="15%">
                    @obj.PerDamaged
                </td>
                <td width="10%">
                    @obj.TotalEmpry
                </td>
                <td width="10%">
                    @obj.PerEmpry
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>

