@{
    ViewData["Title"] = "Home Page";
}

@model ScadaProject.Models.Product

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<script type="text/javascript">
    $(document).ready(function () {
    $('#example').DataTable({
  "ordering": false
});
});
</script>

<!DOCTYPE html>
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<style>
	/*
	tr td.test{
		border:1px solid red;
		border-style: inset;
		padding-top: 3px;
		padding-bottom: 3px;
		position: relative;
		top: 15px;
	}
	*/
	
	td.test{
		position: relative;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
        text-align: left;
        padding: 10px;
		font-family: 'Roboto';
	}
	
	table.data{
		position: relative;
		top: 25px;
        border-collapse: collapse;
		cursor:pointer;
        width: 100%;
	}

	td span {
		border:1px solid black;
		margin-left: 150px;
	}

	.imgae_BKHN{
		width: 700px; 
		height: 100px; 
		overflow: hidden;
		position: relative;
		left: 450px;
		top: -35px;
		border-style: solid;
		border-color: #FFFFFF;
		align-content: center;
	}

	.imgae_BKHN img {
		margin: -80px 0px 0px 0px;
	}

	.title_main{
		border-style: solid;
		text-align: center;
		text-transform: uppercase;
		margin-top:15px;
		padding-top: 3px;
		padding-bottom: 2px;
		color: rgb(255, 0, 0);
		font-size: 23px;
		font-family: 'Roboto';
		position: relative;
		top: -40px;
	}

	.title_GVHD{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5px;
		font-weight: 600;
		font-size: 23px;
		color: #000000;
		position: relative;
		top: 3px;	
		font-family: 'Roboto';
		position: relative;
		top: -35px;
	}

	.title_HP{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5px;
		font-weight: 500;
		font-size: 20px;
		color: #000000;
		padding-bottom: 10px;
		font-family: 'Roboto';
		position: relative;
		top: -35px;
	}
	
	.name_student {
		border:1px solid rgb(112, 140, 171);
		border-style: solid;
		margin-right: 2px;
		margin-left: 2px;
		padding-top: 20px;
		padding-bottom: 30px;
		position: relative;
		top: -160px;
	}
	
	.viet img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: relative;
		top: 10px;
		overflow: hidden;
		left: 10px;
		position: relative;
		top: -30px;
	}
	
	span.viet_name {
		position: relative;
		top: -75px;
		left: -110px;
		font-weight: 500;
		font-family: 'Roboto';
		padding-left: 5px;
		padding-right: 5px;
		position: relative;
		top: -48px;
	}
	
	div.viet_mssv {
		position: relative;
		top: -71px;
		left: 143px;
		font-family: 'Roboto';
		position: relative;
		top: -75px;
	}
	
	table.name_student{
		border-right: 2px solid red;
		padding-right: 400px;
		padding-top: 5px;
		position: relative;
		top: -50px;
		font-family: 'Roboto';
		padding-top: 10px;
	}
	
	td.infor_student{
		position: relative;
		top: 13px;
		border-right:3px solid red;
		padding-top: 15px;
		background-position: center;
	}
	
	td.infor_tuan{
		border-right:2px solid #FFFFFF;
		padding-top: 35px;
	}
	
	div.vietdz{
		position: relative;
		top: 10px;
		height: 30px;
		background-color: #ccb;
		padding-top: 3px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
</style>


<body>	
<div class="imgae_BKHN">
	<img width = "700" height = "300" src= "https://4.bp.blogspot.com/-z5dNiQyx-T4/XS28nXHBytI/AAAAAAAAR6o/i0UlDPE4lLgfjDywm3s6mLzgVC2m87jRwCLcBGAs/s1600/_20190716_190057.JPG"/>
</div>

<center class = "title_main"> HỆ THỐNG GIÁM SÁT CHẤT LƯỢNG SẢN PHẨM KHU BÁO GÓI </center>
<center class = "title_GVHD"> GVHD: TS. Đào Quý Thịnh </center>
<center class = "title_HP"> Học phần: DSC & Scada </center>

<table width="100%"> 
	<td class="infor_student">
		<div class="viet">
			<img width = "100" height = "100" src= "https://yt3.ggpht.com/X9s-jIaVYhJDldHFbfOv3ybctuX29zvBecAnDcR4glPWxqx70oGcFXiwiFlHnJnU8xsXASJXEvo=s900-c-k-c0x00ffffff-no-rj"/>
			<span class = "viet_name">Trịnh Tiến Việt </span>
			<div class = "viet_mssv">MSSV: 20181839</div>
		</div>
	</td>
	<td class="infor_student">
		<div class="viet">
			<img width = "100" height = "100" src= "https://dogily.vn/wp-content/uploads/2019/09/Chu-cho-Anuko-noi-tieng-tren-mang-xa-hoi.jpg"/>
			<span class = "viet_name">Võ Thái Linh </span>
			<div class = "viet_mssv">MSSV: 20181583</div>
		</div>
	</td>
	<td class="infor_student">
		<div class="viet">
			<img width = "100" height = "100" src= "https://gpquinhon.org/q/uploads/news/2018/image_9.png">
			<span class = "viet_name">Trương Văn Huy </span>
			<div class = "viet_mssv">MSSV: 20181540</div>
		</div>
	</td>
	<td class="infor_tuan">
		<div class="viet">
			<img width = "100" height = "100" src= "https://thucanh.net/wp-content/uploads/2021/04/205474599_501709544470115_7446870977759463682_n.jpg"/>
			<span class = "viet_name">Nguyễn Công Anh Tuấn </span>
			<div class = "viet_mssv">MSSV: 20181816</div>
		</div>
	</td>	
</table>


<div class="vietdz"> Thông tin chung </div>

<table style="width:100%" class="data">
  <tr>
    <td class="test">Tốc độ máy(gói/phút)</td>
	<td class="test">@Model.DamagedPackage</td>
    <td class="test">Tốc độ máy(gói/phút)</td>
	<td class="test">@Model.DamagedPackage</td>
    <td class="test">Tốc độ máy(gói/phút)</td>
	<td class="test">@Model.DamagedPackage</td>
	<td class="test">Tốc độ máy(gói/phút)</td>
	<td class="test">@Model.DamagedPackage</td>
  </tr>
  <tr>
    <td class="test">Hiệu suất(%OEE)  </td>
	<td class="test">@Model.DamagedPackage</td>
    <td class="test">Hiệu suất(%OEE)  </td>
	<td class="test">@Model.DamagedPackage</td>
    <td class="test">Hiệu suất(%OEE)  </td>
	<td class="test">@Model.DamagedPackage</td>
	<td class="test">Hiệu suất(%OEE)  </td>
	<td class="test">@Model.DamagedPackage</td>
@*		<td class="test">
		@obj.ThoiGianChapNhanGoi
	</td>*@
  </tr>
  <tr>
    <td class="test">Sản lượng(gói)</td>
	<td class="test">@Model.DamagedPackage</td>
    <td class="test">Sản lượng(gói) </td>
	<td class="test">@Model.DamagedPackage</td>
    <td class="test">Sản lượng(gói)</td>
	<td class="test">@Model.DamagedPackage</td>
	<td class="test">Sản lượng(gói)</td>
	<td class="test">@Model.DamagedPackage</td>
@*	<td class="test">
		@obj.ThoiGianChapNhanGoi
	</td> *@ 
</tr>
  <tr>
	<td class="test">Số gói cấn(gói)</td>
	<td class="test">@Model.DamagedPackage</td>
	<td class="test">Số gói cấn(gói)</td>
	<td class="test">@Model.DamagedPackage</td>
	<td class="test">Số gói cấn(gói)</td>
	<td class="test">@Model.DamagedPackage</td>
	<td class="test">Số gói cấn(gói)</td>
	<td class="test">@Model.DamagedPackage</td>
  </tr>
@*	<td class="test">
		@obj.ThoiGianChapNhanGoi
	</td>*@
  <tr>
	<td class="test">% Cấn gia vị:</td>
	<td class="test">@Model.TotalPackage</td>
	<td class="test">% Cấn gia vị:</td>
	<td class="test">@Model.TotalPackage</td>
	<td class="test">% Cấn gia vị:</td>
	<td class="test">@Model.TotalPackage</td>
	<td class="test">% Cấn gia vị:</td>
	<td class="test">@Model.TotalPackage</td>
@*	<td class="test">
		@obj.ThoiGianChapNhanGoi
	</td>*@
  </tr>
	<tr>
	 <td class="test">Số gói rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
	 <td class="test">Số gói rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
	 <td class="test">Số gói rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
	 <td class="test">Số gói rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
@*	<td class="test">
		@obj.ThoiGianChapNhanGoi
	</td>*@
	</tr>
	  </tr>
	<tr>
	 <td class="test">% Gói Rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
	 <td class="test">% Gói Rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
	 <td class="test">% Gói Rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
	 <td class="test">% Gói Rỗng(gói):</td>
	 <td class="test">@Model.EmptyPackage</td>
@*	<td class="test">
		@obj.ThoiGianChapNhanGoi
	</td>*@
	</tr>
</table>


</body>
</html>



