@model IEnumerable<SettingPLC>
@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<h1>Thông số PLC</h1>
@if(TempData["Register PLC Success"] != null) 
{
		<div id="popupdiv" style="border: 1px solid green;">
            @TempData["Register PLC Success"]
        </div>
}

@if(TempData["Register PLC fail"] != null) 
{
		<div id="popupdiv" style="border: 1px solid green;">
            @TempData["Register PLC Success"]
        </div>
}

<!DOCTYPE html>
<html>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
    $('#example').DataTable({
});
});
</script>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
      <th>Dây Chuyền</th>
      <th>Tốc độ chuẩn(gói/phút)</th>
      <th>Thời gian tính dừng máy(x0.1s)</th>
      <th>Thời gian chấp nhận gói(x0.1s)</th>
      <th>Thời gian tính gói cấn(x0.1s)</th>
      <th>Thời gian đẩy gói cấn(x0.1s)</th>
      <th>Thời gian Xi-Lanh đẩy gói(x0.1s)</th>
      <th>Thời gian cập nhập PLC(x0.1s)</th>

  </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.DayChuyen
                </td>
                <td width="15%">
                    @obj.TocDoChuan
                </td>
                <td width="15%">
                    @obj.ThoiGianTinhDungMay
                </td>
                 <td width="15%">
                    @obj.ThoiGianChapNhanGoi
                </td>
                <td width="15%">
                    @obj.ThoiGianTinhGoiCan
                </td>
                <td width="10%">
                    @obj.ThoiGianDayGoi
                </td>
                <td width="10%">
                    @obj.ThoiGianDayGoi
                </td>
                <td width="10%">
                    @obj.ThoiGianCapNhap
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>

