@model IEnumerable<Account>
@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<h1>Danh Sách Người Dùng</h1>
@if(TempData["Register Success"] != null) 
{
		<div id="popupdiv" style="border: 1px solid green;">
            @TempData["Register Success"]
        </div>
}
@if(TempData["Delete Success"] != null) 
{
		<div id="popupdiv" style="border: 1px solid green;">
            @TempData["Delete Success"]
        </div>
}
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Fullname
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.FullName
                </td>
                <td width="20%">
                    @obj.UserName
                </td>
                <td width="30%">
                    @obj.Email
                </td>
                 <td width="20%">
                    @obj.Phone
                </td>
                <td width="10%">
                    @obj.Gender
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                    @if(@HttpContextAccessor.HttpContext.Session.GetString("Username") == "admin" && @HttpContextAccessor.HttpContext.Session.GetString("Password") == "admin")
                        {
                            @if(obj.UserName != "admin")
                            {
                                <a asp-controller="Home" asp-action="Delete"  asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-trash3"></i>Delete</a>
                            }
                        }
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

